<h4><%= currentUser.firstname %>'s Nachos</h4>

<div class="row">
<!-- 	<div class="col s3"></div>
		<img src="<%=currentUser.image%>" class="responsive-img"> -->
	<div class="col s3"></div>
<!-- 		<p>First Name: <%= currentUser.firstname%></p>
		<p>Last Name: <%= currentUser.lastname%></p> -->
<!-- 		<p>Admin Status: <%= currentUser.admin ? 'yes' : 'no' %></p> -->
	</div>
</div>
