<h4>Restaurant Results</h4>



<% restaurants.forEach(function (elem) {%>
<div class="container" id='search-results'>

	<form method="GET" action="profile">
        <input hidden type="text" name="name" value="<%= elem.restaurant.name %>">
        <button id="fav-btn" class="btn btn-primary" type="submit">+ Hitlist</button>

	<h4><%= elem.restaurant.name %> </h4>
	<p>Address: <%= elem.restaurant.location.address %> </p>
	<p>Neighborhood: <%= elem.restaurant.location.locality %> </p>
	<a href='<%=elem.restaurant.menu_url%>' target='_blank'>Menu</a>

	</form>


</div>	

<%});%>



