<h4>Restaurant Results</h4>


<% restaurants.forEach(function (elem) {%>
<div class="container" id='search-results'>

	<form method="POST" action="profile">
        <input type="hidden" name="name" value="<%= elem.restaurant.name %>">
        <input type="hidden" name="lat" value="<%= elem.restaurant.location.latitude %>">
        <input type="hidden" name="lng" value="<%= elem.restaurant.location.longitude %>">
        <input type="hidden" name="address" value="<%= elem.restaurant.location.address %>">
        <input type="hidden" name="locality" value="<%= elem.restaurant.location.locality %>">
        <input type="hidden" name="menu" value="<%= elem.restaurant.menu_url %>">
        <input type="hidden" name="resId" value="<%= elem.restaurant.id %>">
        <button id="fav-btn" class="btn btn-primary" type="submit">+</button>
	</form>

	<h4><%= elem.restaurant.name %> </h4>
	<p>Address: <%= elem.restaurant.location.address %> </p>
	<p>Neighborhood: <%= elem.restaurant.location.locality %> </p>
	<a href='<%= elem.restaurant.menu_url %>' target='_blank'>Menu</a>

</div>	

<%});%>



